.toggle-radio {
  display: flex;
  gap: 5px;
}

.switch {
  position: relative;
  width: 160px;
  height: 30px;
  text-align: center;
  background: rgba(68, 66, 70, 0.513);
  box-shadow: inset rgba(9, 30, 66, 0.25) 0px 1px 1px,
    inset rgba(9, 30, 66, 0.13) 0px 0px 1px 1px;
  transition: all 0.2s ease;
  border-radius: 25px;
}

input[type='radio'] {
  display: none;
}
.switch label {
  cursor: pointer;
  color: rgba(0, 0, 0, 0.2);
  width: 80px;
  border-radius: 25px;
  font-size: 18px;
  font-weight: 500;
  line-height: 30px;
  transition: all 0.2s ease;
}
label[for='day'] {
  position: absolute;
  left: 0px;
}
label[for='week'] {
  position: absolute;
  right: 0px;
}

.toggle-radio input:nth-child(1):checked ~ .switch label[for='day'] {
  color: #fff;
  background-color: #eb4f37;
  box-shadow: rgba(9, 30, 66, 0.25) 0px 1px 1px,
    rgba(9, 30, 66, 0.13) 0px 0px 1px 1px;
  transition: all 0.3s ease-in-out;
}
.toggle-radio input:nth-child(2):checked ~ .switch label[for='week'] {
  color: #fff;
  background-color: #eb4f37;
  box-shadow: rgba(9, 30, 66, 0.25) 0px 1px 1px,
    rgba(9, 30, 66, 0.13) 0px 0px 1px 1px;
  transition: all 0.3s ease-in-out;
}
