.movieList {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 10px;
  margin-bottom: 10px;
  transition: all 0.5s ease-in-out;
}

.movieItem {
  width: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  place-items: center;
  width: calc((100% - 5 * 10px) / 6);
  border: none;
  border-radius: 5px;
  box-shadow: 0 0 1px 1px rgba(0, 0, 0, 0.2);
  color: black;
  transition: all 0.5s ease-in-out;
}

.movieItem img {
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
  object-fit: cover;
}

.movieItem .movie-title {
  display: flex;
  align-items: center;
  height: 48px;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.5;
  padding: 0 10px;
  color: black;
}

.score {
  position: absolute;
  bottom: 35px;
  right: 3px;
  width: 35px;
  height: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  box-shadow: 0 0 1px 1px rgba(0, 0, 0, 0.2);
  border-radius: 50%;
  color: black;
  background-color: #fff;
  font-size: 12px;
  font-weight: bold;
  text-align: center;
}
.score svg {
  width: 14px;
  height: 14px;
  fill: rgb(245, 197, 24);
}

.ipc-icon {
  vertical-align: middle;
  color: rgb(245, 197, 24);
}
